#titulo{
    margin-top: 20px;margin-bottom: 20px;
}

#linhaCards {
  display: flex;
  align-items: stretch;
}
#linhaCards .item {
  margin-bottom: 2.5em;
}

#linhaCards .item:hover {
  transform: scale(1.1);
  transition: all .15s ease-in-out;
}

#linhaCards .item .card-deck {
  height: 100%;
}

#linhaCards .item .card-deck .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-teste {
  width: 100%;
  height: 25vh;
  display: block;
  background-size: cover;
  background-position: center;
}

.card {
  width: 30rem;
  margin: 0;
  display: flex;
}

.badge-light{
  color: #ffffff;
  background-color: #217b90;
}

/*** usado no auto complete ***/
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    color: black;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
/*** fim do autocomplete ***/

.reserva-content {
  border: 1px solid #dbdbdb;
  margin-top: 1em;
}

.reserva-content h6 {
  padding: 10px;
  margin: 0;
  background-color: #e9e9e9;
  border-bottom: 1px solid #dbdbdb;
  line-height: 1.2em;
}

#form_reserva {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

#form_reserva .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(50% - 5px);
}

#form_reserva .form-group label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
}

#form_reserva .form-group input {
  width: 100%;
}

.total-value {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  margin-top: 15px;
  padding: 20px 10px;
  align-items: center;
}

.total-value p {
  font-weight: 500;
  font-size: 18px;
}

.total-value p,
.total-value label {
  margin-bottom: 0;
  line-height: 1em;
}

#desenvolvido{
    margin-top: 50px;
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-shadow: gray 1px 1px 5px;
}